<h1>設定</h1>

<%= link_to"アカウント" %>
<%= link_to"プロフィール" %>
<h2>プロフィール<h2>
<%= link_to"編集" %>
<h3>アイコン画像</h3>
<% if @user.image? %>
    <%= image_tag @user.image.thumb.url %>
<% else %>
    <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png' %>
<% end %>
<h3>名前</h3>
<%= @user.name %>
<h3>自己紹介</h3>
<%#= @user.introduce %>